<div
  class="min-h-screen flex flex-col sm:justify-center items-center pt-6 sm:pt-0 bg-gray-100"
>
  <div
    class="w-full sm:max-w-md mt-6 px-6 py-4 bg-white shadow-md overflow-hidden sm:rounded-lg"
  >
    <h2 class="text-center font-semibold text-2xl mb-4">Login</h2>
    <form class="space-y-6">
      <div>
        <button
          (click)="signIn()"
          class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
        >
          <span class="mx-auto">Sign in with Auth0</span>
        </button>
      </div>
      <div class="mt-8">
        <div class="text-sm font-medium text-gray-700 text-center">
          Or sign in with social media
        </div>
        <div class="mt-4 flex justify-center space-x-4">
          <button
            (click)="loginWithFacebook()"
            class="text-gray-400 hover:text-gray-500"
          >
            <span class="sr-only">Sign in with Facebook</span>
            <svg
              class="w-6 h-6"
              fill="currentColor"
              viewBox="0 0 24 24"
              aria-hidden="true"
            >
              <path
                d="M21.72 0H2.28A2.28 2.28 0 000 2.28v19.44A2.28 2.28 0 002.28 24h9.58v-9.29H8.22v-3.6h3.64v-2.72c0-3.62 2.21-5.59 5.42-5.59a25.38 25.38 0 013.16.16v3.75l-2.15.001c-1.7 0-2.03.81-2.03 1.99v2.61h4.06l-.53 3.6h-3.53V24h6.94A2.28 2.28 0 0024 21.72V2.28A2.28 2.28 0 0021.72 0z"
              />
            </svg>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
